@model JobMaster.Service.ViewModels.JobInformation
@{
    ViewData["Title"] = "Add Job";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<form asp-action="AddJob">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="Title" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Title" class="form-control" placeholder="Enter Title"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Description" class="form-control" placeholder="Enter Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Experience" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Experience" class="form-control" placeholder="Enter Experience"/>
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Company" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="Company" class="form-control" placeholder="Enter Company"/>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalaryFrom" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="SalaryFrom" class="form-control" placeholder="Enter Salary From"/>
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalaryTo" class="col-lg-3 col-sm-3 control-label"></label>
            <div class="col-lg-6">
                <input asp-for="SalaryTo" class="form-control" placeholder="Enter Salary To"/>
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input type="submit" value="Add Job" class="btn btn-primary btn-block" />
</form>
@section Scripts {
    <script>alert("Iam in");</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}





