
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <environment include="Development">
        <!-- Bootstrap core CSS-->
        <link href="~/css/sbadmin/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="~/css/sbadmin/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin.css" rel="stylesheet">
    </environment>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            @RenderBody()
           
            @*<div class="card-body">

            </div>*@
        </div>
    </div>
    <environment include="Development">
        <!-- Bootstrap core JavaScript-->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/js/jquery.easing.min.js"></script>
    </environment>
</body>

</html>

@RenderSection("Scripts", required: false)

