################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/*
/.vs/JobMaster/v15/Server/sqlite3/db.lock
/.vs/JobMaster/v15/sqlite3/db.lock

